<!DOCTYPE html>

<!-- CREATED BY JUSTIN COUSINEAU, 2022-23.
APP NOT INTENDED FOR COMMERCIAL OR BUSINESS USE. -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Lineup Analyzer</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

	<div class="sidenav">
		<h1>NBA Lineup Analyzer</h1>
		<h5>
		Uses regular season NBA lineup data from selected year.</br>
		Sources: stats.nba.com, Swar Patel's <a href="https://github.com/swar/nba_api">nba_api package</a>, sklearn, plotly.</br>
		</br>
		Created by Justin Cousineau, 2022-23.
		</h5>
		<button type="button" onclick="openGlossary()">Open Glossary</button>
		<br>
		<br>
		<form id="form">
			Season: 
			<select name="season" id="season">
				<option value="2022-23">2022-23</option>
				<option value="2021-22">2021-22</option>
				<option value="2020-21">2020-21</option>
				<option value="2019-20">2019-20</option>
				<option value="2018-19">2018-19</option>
				<option value="2017-18">2017-18</option>
				<option value="2016-17">2016-17</option>
				<option value="2015-16">2015-16</option>
				<option value="2014-15">2014-15</option>
			</select>
			<br>
			<br>
			Group Size: 
			<select name="groupquantity" id="groupquantity">
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5" selected="selected">5</option>
			</select>
			<br>
			<br>
			X-Axis Value: 
			<select name="statx" id="statx" >
				<option value="GP">GP</option>
				<option value="W">W</option>
				<option value="L">L</option>
				<option value="W_PCT">W_PCT</option>
				<option value="MIN">MIN</option>
				<option value="FGM">FGM</option>
				<option value="FGA">FGA</option>
				<option value="FG_PCT">FG_PCT</option>
				<option value="FG3M">FG3M</option>
				<option value="FG3A">FG3A</option>
				<option value="FG3_PCT">FG3_PCT</option>
				<option value="FTM">FTM</option>
				<option value="FTA">FTA</option>
				<option value="FT_PCT">FT_PCT</option>
				<option value="OREB">OREB</option>
				<option value="DREB">DREB</option>
				<option value="REB">REB</option>
				<option value="AST">AST</option>
				<option value="TOV">TOV</option>
				<option value="STL">STL</option>
				<option value="BLK">BLK</option>
				<option value="BLKA">BLKA</option>
				<option value="PF">PF</option>
				<option value="PFD">PFD</option>0
				<option value="PTS">PTS</option>-
				<option value="PLUS_MINUS">PLUS_MINUS</option>
				<option value="E_OFF_RATING">E_OFF_RATING</option>
				<option value="OFF_RATING" selected="selected">OFF_RATING</option>
				<option value="E_DEF_RATING">E_DEF_RATING</option>
				<option value="DEF_RATING">DEF_RATING</option>
				<option value="E_NET_RATING">E_NET_RATING</option>
				<option value="NET_RATING">NET_RATING</option>
				<option value="AST_PCT">AST_PCT</option>
				<option value="AST_TO">AST_TO</option>
				<option value="AST_RATIO">AST_RATIO</option>
				<option value="OREB_PCT">OREB_PCT</option>
				<option value="DREB_PCT">DREB_PCT</option>
				<option value="REB_PCT">REB_PCT</option>
				<option value="TM_TOV_PCT">TM_TOV_PCT</option>
				<option value="EFG_PCT">EFG_PCT</option>
				<option value="TS_PCT">TS_PCT</option>
				<option value="E_PACE">E_PACE</option>
				<option value="PACE">PACE</option>
				<option value="PACE_PER40">PACE_PER40</option>
				<option value="POSS">POSS</option>
				<option value="PIE">PIE</option>
			</select>
			<br>
			<br>
			Y-Axis Value: 
			<select name="staty" id="staty">
				<option value="GP">GP</option>
				<option value="W">W</option>
				<option value="L">L</option>
				<option value="W_PCT">W_PCT</option>
				<option value="MIN">MIN</option>
				<option value="FGM">FGM</option>
				<option value="FGA">FGA</option>
				<option value="FG_PCT">FG_PCT</option>
				<option value="FG3M">FG3M</option>
				<option value="FG3A">FG3A</option>
				<option value="FG3_PCT">FG3_PCT</option>
				<option value="FTM">FTM</option>
				<option value="FTA">FTA</option>
				<option value="FT_PCT">FT_PCT</option>
				<option value="OREB">OREB</option>
				<option value="DREB">DREB</option>
				<option value="REB">REB</option>
				<option value="AST">AST</option>
				<option value="TOV">TOV</option>
				<option value="STL">STL</option>
				<option value="BLK">BLK</option>
				<option value="BLKA">BLKA</option>
				<option value="PF">PF</option>
				<option value="PFD">PFD</option>
				<option value="PTS">PTS</option>
				<option value="PLUS_MINUS">PLUS_MINUS</option>
				<option value="E_OFF_RATING">E_OFF_RATING</option>
				<option value="OFF_RATING">OFF_RATING</option>
				<option value="E_DEF_RATING">E_DEF_RATING</option>
				<option value="DEF_RATING" selected="selected">DEF_RATING</option>
				<option value="E_NET_RATING">E_NET_RATING</option>
				<option value="NET_RATING">NET_RATING</option>
				<option value="AST_PCT">AST_PCT</option>
				<option value="AST_TO">AST_TO</option>
				<option value="AST_RATIO">AST_RATIO</option>
				<option value="OREB_PCT">OREB_PCT</option>
				<option value="DREB_PCT">DREB_PCT</option>
				<option value="REB_PCT">REB_PCT</option>
				<option value="TM_TOV_PCT">TM_TOV_PCT</option>
				<option value="EFG_PCT">EFG_PCT</option>
				<option value="TS_PCT">TS_PCT</option>
				<option value="E_PACE">E_PACE</option>
				<option value="PACE">PACE</option>
				<option value="PACE_PER40">PACE_PER40</option>
				<option value="POSS">POSS</option>
				<option value="PIE">PIE</option>
			</select>
			<br>
			<br>
			Z-Axis Value:
			<select name="statz" id="statz">
				<option value="---" selected="selected">---</option>
				<option value="GP">GP</option>
				<option value="W">W</option>
				<option value="L">L</option>
				<option value="W_PCT">W_PCT</option>
				<option value="MIN">MIN</option>
				<option value="FGM">FGM</option>
				<option value="FGA">FGA</option>
				<option value="FG_PCT">FG_PCT</option>
				<option value="FG3M">FG3M</option>
				<option value="FG3A">FG3A</option>
				<option value="FG3_PCT">FG3_PCT</option>
				<option value="FTM">FTM</option>
				<option value="FTA">FTA</option>
				<option value="FT_PCT">FT_PCT</option>
				<option value="OREB">OREB</option>
				<option value="DREB">DREB</option>
				<option value="REB">REB</option>
				<option value="AST">AST</option>
				<option value="TOV">TOV</option>
				<option value="STL">STL</option>
				<option value="BLK">BLK</option>
				<option value="BLKA">BLKA</option>
				<option value="PF">PF</option>
				<option value="PFD">PFD</option>
				<option value="PTS">PTS</option>
				<option value="PLUS_MINUS">PLUS_MINUS</option>
				<option value="E_OFF_RATING">E_OFF_RATING</option>
				<option value="OFF_RATING">OFF_RATING</option>
				<option value="E_DEF_RATING">E_DEF_RATING</option>
				<option value="DEF_RATING">DEF_RATING</option>
				<option value="E_NET_RATING">E_NET_RATING</option>
				<option value="NET_RATING">NET_RATING</option>
				<option value="AST_PCT">AST_PCT</option>
				<option value="AST_TO">AST_TO</option>
				<option value="AST_RATIO">AST_RATIO</option>
				<option value="OREB_PCT">OREB_PCT</option>
				<option value="DREB_PCT">DREB_PCT</option>
				<option value="REB_PCT">REB_PCT</option>
				<option value="TM_TOV_PCT">TM_TOV_PCT</option>
				<option value="EFG_PCT">EFG_PCT</option>
				<option value="TS_PCT">TS_PCT</option>
				<option value="E_PACE">E_PACE</option>
				<option value="PACE">PACE</option>
				<option value="PACE_PER40">PACE_PER40</option>
				<option value="POSS">POSS</option>
				<option value="PIE">PIE</option>
			</select>

			<br>
			<br>
			NOTE: Try rotating the graph while it features Z-axis values!
			<br>
			<br>

			Highlight Team:
			<select id="team" name="team">
				<option value="ALL" selected="selected">ALL</option>
				<option value="ATL">ATL</option>
				<option value="BOS">BOS</option>
				<option value="BKN">BKN</option>
				<option value="CHA">CHA</option>
				<option value="CHI">CHI</option>
				<option value="CLE">CLE</option>
				<option value="DAL">DAL</option>
				<option value="DEN">DEN</option>
				<option value="DET">DET</option>
				<option value="GSW">GSW</option>
				<option value="HOU">HOU</option>
				<option value="IND">IND</option>
				<option value="LAC">LAC</option>
				<option value="LAL">LAL</option>
				<option value="MEM">MEM</option>
				<option value="MIA">MIA</option>
				<option value="MIL">MIL</option>
				<option value="MIN">MIN</option>
				<option value="NOP">NOP</option>
				<option value="NYK">NYK</option>
				<option value="OKC">OKC</option>
				<option value="ORL">ORL</option>
				<option value="PHI">PHI</option>
				<option value="PHX">PHX</option>
				<option value="POR">POR</option>
				<option value="SAC">SAC</option>
				<option value="SAS">SAS</option>
				<option value="TOR">TOR</option>
				<option value="UTA">UTA</option>
				<option value="WAS">WAS</option>
			</select>
			<br>
			<br>
			Min. Minutes Played: 
			<input type="text" id="min_mp" class="textInput" value="200">
			<br>
			<br>
			K-Means Clusters: 
			<select id="kmclust">
				<option value="1" selected="selected">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8" >8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11" >11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14" >14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17" >17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20" >20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23" >23</option>
				<option value="24">24</option>
				<option value="25">25</option>
			  </select>
			  
			<br>
			<br>
			<input type="checkbox" class="linregCheckbox" id="linreg" name="linreg" value="1">
			Linear Regression
			<!-- <label for="linreg">Linear Regression</label> -->
			<br>
			<br>
			<div class="lr_container">
				<div id="rsq_container" contenteditable="false"></div>
	<!-- 			<div id="int_container" contenteditable="true"></div>
				<div id="coef1_container" contenteditable="true"></div>
				<div id="coef2_container" contenteditable="true"></div> -->
			</div>
			<br>
			<br>
			<button type="submit" name="button" >Submit</button>


		</form>
		</br>
		</br>
		</br>

    </div>
	
	
    <div class="main">

		<div class="output" id="output"></div>
		<div class="plot" id="plot"></div>
	</div>

	<!-- <div id="shotChartBubble" style="display:none;">
		<span id="closeBubble" style="cursor:pointer; position:absolute; right:5px; top:2px;">&times;</span>
		<div id="shotChartContainer"></div>
	</div> -->

	<!-- Shotchart Bottombar -->
	<div id="shotchartBar" class="bottombar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeSCBar()">×</a>
		<div class="target-section">
			<h3>Target Shot Chart:</h3>
			<div id="targetShotChart">
				<!-- Target shot chart will be appended here -->
			</div>
		</div>

		<!-- Scrollable section for similar shot charts -->
		<div class="similar-section">
			<h3>Similar Lineups by Shot Chart:</h3>
			<div id="similarShotCharts" class="shotcharts-wrapper">
				<!-- Individual similar shot charts will be appended here -->
			</div>
		</div>
	</div>

	<!-- Sidebar Glossary -->
	<div id="glossarySidebar" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="closeGlossary()">×</a>
		<h2>Glossary</h2>
		<p><strong>GP (Games Played):</strong> The total number of games a player or team has participated in.</p>
		<p><strong>W (Wins):</strong> The total number of games won by a player or team.</p>
		<p><strong>L (Losses):</strong> The total number of games lost by a player or team.</p>
		<p><strong>W_PCT (Win Percentage):</strong> The percentage of games won out of the total games played.</p>
		<p><strong>MIN (Minutes):</strong> The total number of minutes played.</p>
		<p><strong>FGM (Field Goals Made):</strong> The total number of field goals successfully made.</p>
		<p><strong>FGA (Field Goals Attempted):</strong> The total number of field goal attempts.</p>
		<p><strong>FG_PCT (Field Goal Percentage):</strong> The percentage of field goals made out of the total attempted.</p>
		<p><strong>FG3M (Three-Point Field Goals Made):</strong> The total number of three-point shots successfully made.</p>
		<p><strong>FG3A (Three-Point Field Goals Attempted):</strong> The total number of three-point shot attempts.</p>
		<p><strong>FG3_PCT (Three-Point Field Goal Percentage):</strong> The percentage of three-point shots made out of the total attempted.</p>
		<p><strong>FTM (Free Throws Made):</strong> The total number of free throws successfully made.</p>
		<p><strong>FTA (Free Throws Attempted):</strong> The total number of free throw attempts.</p>
		<p><strong>FT_PCT (Free Throw Percentage):</strong> The percentage of free throws made out of the total attempted.</p>
		<p><strong>OREB (Offensive Rebounds):</strong> The total number of rebounds collected on the offensive end of the court.</p>
		<p><strong>DREB (Defensive Rebounds):</strong> The total number of rebounds collected on the defensive end of the court.</p>
		<p><strong>REB (Total Rebounds):</strong> The combined total of offensive and defensive rebounds.</p>
		<p><strong>AST (Assists):</strong> The total number of assists made.</p>
		<p><strong>TOV (Turnovers):</strong> The total number of times a player or team has lost possession of the ball to the opposing team.</p>
		<p><strong>STL (Steals):</strong> The total number of times a player or team has taken the ball away from an opponent.</p>
		<p><strong>BLK (Blocks):</strong> The total number of shots blocked.</p>
		<p><strong>BLKA (Blocks Against):</strong> The total number of times a player's shot has been blocked by an opponent.</p>
		<p><strong>PF (Personal Fouls):</strong> The total number of personal fouls committed.</p>
		<p><strong>PFD (Personal Fouls Drawn):</strong> The total number of personal fouls drawn by a player.</p>
		<p><strong>PTS (Points):</strong> The total number of points scored.</p>
		<p><strong>PLUS_MINUS:</strong> The point differential when a player or team is on the court.</p>
		<p><strong>E_OFF_RATING (Estimated Offensive Rating):</strong> An estimate of points produced (players) or scored (teams) per 100 possessions.</p>
		<p><strong>OFF_RATING (Offensive Rating):</strong> Points scored per 100 possessions by a team.</p>
		<p><strong>E_DEF_RATING (Estimated Defensive Rating):</strong> An estimate of points allowed per 100 possessions.</p>
		<p><strong>DEF_RATING (Defensive Rating):</strong> Points allowed per 100 possessions by a team.</p>
		<p><strong>E_NET_RATING (Estimated Net Rating):</strong> An estimate of point differential per 100 possessions.</p>
		<p><strong>NET_RATING (Net Rating):</strong> Point differential per 100 possessions.</p>
		<p><strong>AST_PCT (Assist Percentage):</strong> An estimate of the percentage of teammate field goals a player assisted while on the floor.</p>
		<p><strong>AST_TO (Assist to Turnover Ratio):</strong> The ratio of assists to turnovers.</p>
		<p><strong>AST_RATIO (Assist Ratio):</strong> The number of assists a player averages per 100 possessions used.</p>
		<p><strong>OREB_PCT (Offensive Rebound Percentage):</strong> An estimate of the percentage of available offensive rebounds a player grabbed while on the floor.</p>
		<p><strong>DREB_PCT (Defensive Rebound Percentage):</strong> An estimate of the percentage of available defensive rebounds a player grabbed while on the floor.</p>
		<p><strong>REB_PCT (Total Rebound Percentage):</strong> An estimate of the percentage of available rebounds a player grabbed while on the floor.</p>
		<p><strong>TM_TOV_PCT (Turnover Percentage):</strong> An estimate of turnovers per 100 plays.</p>
		<p><strong>EFG_PCT (Effective Field Goal Percentage):</strong> This statistic adjusts for the fact that a 3-point field goal is worth one more point than a 2-point field goal.</p>
		<p><strong>TS_PCT (True Shooting Percentage):</strong> A measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.</p>
		<p><strong>E_PACE (Estimated Pace):</strong> An estimate of the number of possessions per 48 minutes by a team.</p>
		<p><strong>PACE:</strong> The number of possessions per 48 minutes by a team.</p>
		<p><strong>PACE_PER40:</strong> The number of possessions per 40 minutes by a team.</p>
		<p><strong>POSS (Possessions):</strong> The total number of possessions by a team.</p>
		<p><strong>PIE (Player Impact Estimate):</strong> A metric that provides an estimate of a player's overall impact on a game.</p>
		<br>
		<br>
	</div>

	<div id="testbttn">
		<button type="button" onclick="openSCBar()">Open Shotchart</button>
	</div>

</body>

	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- 	<script src="static/nbaSubmit.js"></script>	 -->
<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>


</script>

</html>

